APP_NAME = APP_NAME
DEBUG = TRUE/FALSE
ACCESS_TOKEN_EXPIRY = SET_EXPIRY_TIME
REFRESH_TOKEN_EXPIRY = SET_EXPIRY_TIME
ALGORITHM = SET_ALGORITHM_THAT_YOU_ARE_GOING_TO_USE
SECRET_KEY = VERY_HARD_SECRET-KEY
DATABASE_URL = postgresql+psycopg2://hostname:password@localhost:port/database_name